%p EDIT
%form{action: "/#{@model_name.pluralize}/#{@instance.id}", method: "post"}
  %input{name: "_method", type: "hidden", value: "put"}
    - @klass.columns.each do |col|
      - next if col[:is_key]
      %p 
        = col[:name].humanize
        %input{name: "#{@model_name}[#{col[:name]}]", type: "text", value: @instance.send(col[:name])}
  %p
  %input{name: "update", type: "submit", value: "Update"}
  %p
  %a{href:'/'} Back
