
%h4 Students
%table{border: "1"}
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Courses
      %th 
  %tbody
    - @students.each do |student|
      %tr
        %td
          - url = "/students/#{student.id}"
          %a{href: url} 
            = student.id
        %td
          %a{href: url}
            = student.first_name
        %td
          %a{href: url}
            = student.last_name
        %td &mdash;
        %td.user-actions
          %form{action: url, method: "post"}
            %input{name: "_method", type: "hidden", value: "delete"}/
            %button{type: "submit"} x
          %a{href: "/students/#{student.id}/edit"} 
            Edit

/ weird sinanatra and also rails thing: having to use a form here to be able to delete!!
%a{href:'/students/new'} Want to add a new student?


%h4 Courses
%table{border: "1"}
  %thead
    %tr
      %th ID
      %th Title
      %th Students
  %tbody
    - @courses.each do |course|
      %tr
        %td
          = course.id
        %td
          = course.title
        %td &mdash;
%a{href:'/courses/new'} Want to add a new course?